body {
    font-family: "Poppins", serif;
    margin: 50px 50px 0 50px;
    background-color: #3232CD;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.main{
    flex: 1;
}

h1 {
    font-size: 5rem;
    color: #A67D3D;
}

.tile-image {
    width: 200px;
    height: 200px;
}

.card-title {
    color: #7093DB;
}

p {
    color: #D9D9F3;
}

@media (max-width: 680px) {
    .logo {
      width: 150px;
    }
  
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
  
    .card {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      text-align: justify;
    }
  
    .card img {
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
    }
  }
  